
<section class="shadow d-flex align-items-center main-top" style="padding-top: 30px;" id="newtask">
  <div class="container">
      <div class="container aos-init aos-animate" data-aos="fade-up">
          <header class="section-header pt-4 pb-4  text-center">
              <h2 class="mt-5">Terms and Conditions</h2>
          </header>
          <div style="margin-left: 10vw;">
          <h3>1. Introduction and Definitions</h3>
          <p>These Terms and Conditions govern your use of JobTasker websites (www.jobtasker.com,
            www.jobtasker.net.au), JobTasker mobile app and all other services provided by JobTasker.
            By using JobTasker websites or mobile app, you acknowledge and agree that you have had
            sufficient opportunity to read and understand the Terms and you agree to be bound by
            them, you agree to be bound by these Terms and Conditions which constitute a contract
            between you and JobTasker Pty Ltd.</p>
          
          <p>&quot;We&quot;, &quot;our&quot;, &quot;us&quot; and/or &quot;JobTasker&quot; means JobTasker Pty Ltd (ABN - 81 650 838 823). &quot;Job
            Poster&quot;, &quot;Job owner&quot; or &quot;Poster&quot; means User that post a job/task or search for services.
            &quot;Tasker&quot; means User who provides services to Job-Posters and other users.&quot;User&quot; or &quot;You&quot;
            means the person using JobTasker including Job-Poster, Tasker, Visitors and others.
            &quot;JobTasker Service&quot; or JobTasker Platform means JobTasker websites (www.jobtasker.com
            www.jobtasker.net.au), JobTasker mobile app and services that may be introduced.</p>

          <h3>2. Overview Of JobTasker Services</h3>

          <p>JobTasker provides an online marketplace that connect users to other users or businesses to
            get jobs/tasks done. Users (job posters) post a job on our platform and other users
            (Taskers) can make a bid in responds to the posted job. Job-Posters or Taskers can modify,
            withdraw, or cancel their posted job or bid at any time.</p>

          <p>When a job-poster/owner award a job, a Job contract is created between the job-poster and
            the User/Tasker that was awarded the job, and the job-poster must pay the agreed price
            (including bank or credit card charges) into JobTasker escrow account.</p>

          <p>Once the awarded job has been completed, the tasker must request payment via our
            website or app. For the award and completed job payment to be release to the Tasker, the
            job-poster must confirm the job is completed or if JobTasker is satisfied that the job has
            been completed.</p>

          <p>Upon completion of the job, Taskers and job-posters are encouraged to leave a review for
            each other.</p>

          <p>JobTasker reserves the right to cancel or/and delete any job post or bids or comments from
            Taskers and job-posters before the job/task is awarded.</p>

          <h3>3. Our Obligations</h3>
          <p>We provide marketplace platform only, enabling users to post jobs/tasks and make bid for
            posted jobs/tasks by providing quotes. JobTasker makes no warranty and accepts no liability
            for any aspect of Users interactions, including but not limited to posted job description,
            accuracy of any aspect of any information provided by users, the ability of users (Taskers) to
            perform jobs/tasks awarded to them, or the job-posters ability to pay for the job/task
            requested. JobTasker reserve the right to refuse to allow any person or business to create
            an account or suspend or modify or cancel any existing account.</p>
          
          <p>In using the Services provided by JobTasker, you understand and agree that JobTasker is not
            acting as a contractor or agent, has no obligation to any User to involve itself in any dispute
            between Users, and is not responsible for any job/task done.</p>
          
          <p>You agree that you are solely responsible for the selection of a suitable Tasker or businesses
            or Trade Professional and to negotiate the terms for any job/task that they undertake, and
            JobTasker will not be involved or held liable for any Service Agreement between Users.</p>
          
          <p>You understand and agree that we don’t guarantee any User of our platform are licenced or
            insured or suitable to perform any job/task which they may claim to be able to perform and
            Users are solely responsible for conducting any appropriate background checks and
            obtaining references, licenses, certifications, or proof of insurance prior to engaging any
            User to perform jobs/tasks.</p>
          
          <p>You agree to assume all risks and you agree to expressly release, indemnify, and hold
            harmless JobTasker from all loss, liability, injury, death, damage, or costs arising or in any
            way related to using JobTasker platform.</p>

          <h3>4. Your Obligations</h3>
          <p>You must provide us with; active email address, mobile phone number (for us to direct
            communication with you). Ensure the credit card you have selected to use to make all
            payments required to be made by you in accordance with the Agreement has sufficient
            funds and/or credit in that account/credit card to enable you to do so.</p>
          <p>You agree that users should never disclose personal details in a job post or bid such as the
            Poster&#39;s/Bid’s full name, street number, phone number or email address in a Posted/Bid Job
            or in any other public communication on the JobTasker website or App and if done, you are
            responsible. You agree that JobTasker can use your location via location-map-functionality
            and display the location of Users on the websites and App.</p>
          <p>Taskers must provide us with the current, valid ABN (Australian Business Number), provide
            us with accurate and current details bank account for receiving payment after a job/task is
            completed. Taskers must ensure they only accept or perform Jobs that they have the rights
            and are licensed and qualified to carry out (where any such licences or qualifications apply).</p>
          <p>You agree that JobTasker is not responsible to make payments or fees for any service
            agreements between Job owners/poster and Taskers that wasn’t part of the posted job
            details amount held by Jobtasker escrow account.</p>
          <p>You agree to communicate with other users professionally and carry out all Jobs with due
            skill and care. You agree that any content on JobTasker cannot be used on any other
            websites, apps, platforms or for other business purposes without Our prior permission.
            
            You must not, in performing or in connection with a Job/Bid, or in using the Website, App or
            any other Product:</p>

          <ul>
            <li>Make any statement or representation to any person, or advertise, post, or publish
              any content that is false, misleading or likely to mislead, or is otherwise illegal,
              offensive, vulgar or unacceptable, or which could expose us or a third party to
              liability of any kind.</li>
            <li>Engage in any unlawful, offensive, or unacceptable conduct, or behave in an
              unprofessional or negligent manner.</li>
            <li>Reproduce without lawful authority in any manner or form any copyright material or
              other intellectual property; or</li>
            <li>Represent that you are employed by, or that you are an agent or contractor of
              JobTasker</li>
          </ul>

          <p>You agree that JobTasker can at any time remove any material from our Website, App or
            any Directory Listing which in our reasonable opinion constitutes or represents a breach of
            our terms and conditions and other policies.</p>

          <h3>5. Payment, Fees, and Refunds</h3>
          <p>Using JobTasker platform, posting jobs/tasks and bidding or placing quote is free. However,
            bank and/or credit card charges are deducted on top the payment amount or deducted
            from Taskers receiving amount for completed jobs/tasks.</p>

          <p>When a job-poster/owner accepts a User&#39;s/Tasker&#39;s bid/quote, a Job Contract is formed
            between the two parties, at this time the job-poster/owner will be charged the agreed price
            plus bank/credit card charges.</p>

          <p>When the Tasker receives the agreed price payment for the job/task completed, bank/credit
            card charges are deducted.</p>

          <p>Prior to accepting a bid or quote, the user should make their own reasonable enquiries and
            searches to ascertain the credibility and suitability of that User/ Tasker/Business to perform
            the job.</p>

          <p>If an awarded job/task (Job contract) is cancelled for any reason (by the job-owner/poster
            or the awarded Tasker or by JobTasker) before the commencement of the job or half way
            into the job or after the job is done, JobTasker reserve the right to either returned or
            release the full or partial amount to the job-owner or tasker when JobTasker is reasonably
            satisfied with the reasons provided from both parties.</p>

          <h3>6. Reviews and feedbacks</h3>
          
          <p>All users will be subject to a star rating and review evaluation from other users if, after a job
            post is awarded and completed. JobTasker is not responsible for the feedback content or
            accuracy that those users post, or any harm done by such content.</p>

          <p>All users understand that any use of profanity, libellous behaviour, illegal activity, or any
            other form of abuse of the feedback function or any other part of the platform may be
            banned from further use. JobTasker may remove feedbacks at our sole discretion and is
            entitled to suspend or terminate any account it deems problematic.</p>
          
          <h3>7. Verifications and Accuracy of information</h3>

          <p>You agree that JobTasker verification of Users may not be fully accurate, you are solely
            responsible for identity verification and JobTasker accepts no responsibility.</p>

          <p>JobTasker cannot guarantee the accuracy of the information on its Service, although we
            make every attempt to ensure that it is correct and accurate, and JobTasker is not liable for
            any problems or losses arising from errors in the content.</p>

          <h3>8. Limitation of liability</h3>

          <p>You agree that JobTasker shall not be liable for any loss or damage (actual, special, direct,
            indirect and consequential) of every kind and nature, known and unknown, suspected and
            unsuspected, disclosed and undisclosed (including, without limitation, loss or damage
            relating to any inaccuracy of information provided, or the lack of fitness for purpose of any
            goods or service supplied), arising from the provision (or non-provision) of any part of the
            service, or arising out of or in any way connected with any transaction between Users.
            No agency, partnership, joint venture, employee-employer or other similar relationship is
            created by this Agreement, you agree you have no authority to bind JobTasker, its related
            entities or affiliates in any way whatsoever. Users are promoted by us as third party. To the
            extent permitted by law, JobTasker specifically disclaims all liability for any loss or damage
            incurred by You in relation to third parties.</p>
          <p>Subject to any obligation that cannot be excluded, JobTasker&#39;s liability to any User is limited
            to the total amount of payment made by that User to JobTasker during the twelve-month
            period prior to any incident causing liability of JobTasker, or AUD$50.00, whichever is
            greater.</p>
          <p>You agree that JobTasker has no responsibility or liability for the deletion or failure to store
            any content maintained or transmitted by the Website or App. You also acknowledge that
            JobTasker reserves the right at any time to modify or discontinue the website/App (or any
            part thereof) with or without notice, and that JobTasker shall not be liable to you or to any
            third party for any modification, suspension, or discontinuance of any services.</p>

          <h3>9. Dispute Resolution</h3>
          <p>You agree that if a dispute arise with another User, you must co-operate with the other user
            and try to resolve the disputes directly. JobTasker may elect to assist Users resolve disputes
            and reserves the right to make a final determination (including claims for returns or refunds)
            based on the information supplied by the users.</p>

          <h3>9. Termination of service</h3>
          <p>You agree that JobTasker, in its sole discretion, has the right to terminate your account or
            restrict your access to or use of the website and App, immediately and without notice, for
            any reason.</p>

          <p>You agree that JobTasker shall not be liable to you or any third-party for any termination or
            restriction of your access to the website and App. Further, you agree not to attempt to use
            the website after said termination and we may terminate any other accounts You operate.</p>
          
          </div>
      </div>
  </div>
</section>