<!-- ======= Hero Section ======= -->
<section id="aboutus" class="hero d-flex align-items-center">
  
</section>
<!-- End Hero -->

<section class="shadow d-flex align-items-center main-top" style="padding-top: 30px;" id="newtask">
  <div class="container" id="post1">
      <div class="container aos-init aos-animate" data-aos="fade-up">
          <header class="section-header text-start pt-4 pb-4" style="margin-left: 10vw;">
              <p class="text-center">JobTasker connects people who need work done with the right people/businesses ready to work</p>
              <h2 class="mt-5">About us</h2>

              <p>Jobtasker Pty Ltd is a Sydney-based Australian company, which provides an online platform
                that connect user to other users (local trades or businesses) to get service jobs/tasks done.
                We provide avenues for people (including small to medium businesses) to earn money doing
                jobs/tasks posted on JobTasker.</p>

              <p>JobTasker is where your to-do list gets done, such as home or office relocation, cleaning
                service, handyman jobs, plumbing, lawn gardening, photography, painting, website building,
                admin jobs and a lot more.</p>

              <p>Our Mission at JobTasker is to connects people who need work done with the right
                people/businesses ready to work. We aim to be the easiest and most affordable way to hire
                local people, tradies, and businesses for any service job.</p>

                <h2 class="mt-5">How JobTasker works</h2>

              <p>Users (job-posters) post a job according to their budget, which is then sent to other users
                (taskers) with the right skills and experience for the job to bid.</p>
              
              <p>The job-poster will receive bid quotes, which will allow them to compare quotes, profiles,
                verified reviews, and contact the Taskers before choosing the right expert for the job.</p>

              <p>The job-poster decides which tasker to award the job to and payment for the job is held in
                escrow account by JobTasker until the job is completed on which the payment is released.</p>

              <p>Businesses or individual with ABN can register as a Tasker to earn money performing
                jobs/tasks posted on JobTasker.</p>

                <div class="btn-bottom mt-5">
                  <a [routerLink]="['/post-task']" class="text-center btn-read-more d-inline-flex align-items-center justify-content-center align-self-center px-5" style="border-radius: 0%; border-style: none;">
                      <span>Post a Job</span>
                      <i class="bi bi-arrow-right"></i>
                  </a>

                  <a [routerLink]="['/register']" class="text-center btn-read-more d-inline-flex align-items-center justify-content-center align-self-center px-5" style="border-radius: 0%; border-style: none;">
                    <span>Sign Up</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
              </div>
          </header>
      </div>
  </div>
</section>