<header>
  <section class="py-1 my-2">
    <h3 class="px-4" style="font-weight: 5  00; color: #014aac;">Offers</h3>
  </section>
</header>
<section class="pt-3 pb-0 mx-4 notification-settings" style="border-top: 1px solid rgb(231, 235, 251)" *ngIf="jobOffer">

  <div class="splitter-section" id="details-section">
      <div class="splitter-section-content">
          <div class="splitter-section-content-inner">
              <h2> {{ jobOffer.what_do_you }} </h2>
              <p> {{ jobOffer.detail }} </p>
          </div>
      </div>
  </div>

  <div *ngFor="let item of jobOffer.total_offer">
    <div class="notification-setting" [ngClass]="{'jobAssigned': jobOffer.assign_to_id == item.offer_by.id }">
        <h6 class="notification-label">
          <div class="row">
            <div class="col-md-2">
              <img [src]="url + item.offer_by_id" alt="" style="border: 1px solid #bbc2dc; border-radius: 50%; display: block; margin: 0 auto; max-height: 80%; max-width: 80%;">
            </div>
            <div class="col-md-10 offer_by" >
              {{ item.offer_by.first_name }} {{ item.offer_by.last_name }}
              <div class="emVaRl" *ngIf="rating && total_rating">
                <div class="lnfldP">
                  <svg width="16" height="16" class="elJCm"
                  viewBox="0 0 24 24"  *ngFor='let in of counter(rating) ;let i = index'>
                    <path
                        d="M16.2 8.16l4.74.73a1.23 1.23 0 01.67 2.11l-3.46 3.28a1.23 1.23 0 00-.37 1.1l.77 4.68a1.24 1.24 0 01-1.82 1.29L12.5 19.1a1.28 1.28 0 00-1.16 0l-4.27 2.17A1.25 1.25 0 015.27 20l.85-4.68a1.19 1.19 0 00-.34-1.09l-3.41-3.4a1.23 1.23 0 01.71-2.1l4.75-.64a1.26 1.26 0 00.95-.67l2.16-4.24a1.25 1.25 0 012.24 0l2.09 4.28a1.22 1.22 0 00.93.7z">
                    </path>
                  </svg><span class="emVaRl">({{rating}})</span><span class="emVaRl">({{total_rating}})</span>
                </div>
              </div>
            </div>
          </div>
        </h6>
        <div class="margin-10-top">
            <div class="notification-description">
              <p>{{ item.detail }}</p>
              <div class="d-flex">
                <div class="btn btn-dark">
                  Offer Amount : {{ item.amount }}
                </div>
                <!-- <div style="width: 10px;"></div>
                <div class="btn btn-warning">
                  Total Offer : {{ item.total_offer.length }}
                </div>
                <div style="width: 10px;"></div>
                <div class="btn btn-secondary">
                  Total Question : {{ item.total_question.length }}
                </div> -->
              </div>
            </div>
            <!-- <div class="notification-options" *ngIf="jobOffer.assign_to_id == item.offer_by.id"> -->
            <div class="notification-options">
                <div class="checkbox-item disabled" *ngIf="jobOffer.assign_to_id != null">
                  <a type="button" class="btn btn-outline-success" >Message</a>
                </div>
                <div class="checkbox-item">   
                  <button type="button" class="btn btn-outline-info"  (click)="openModal(templatecompletejob, item.id, item.offer_by.id)">Completed</button>
                </div>                
                <div class="checkbox-item" *ngIf="jobOffer.assign_to_id == null">   
                  <button type="button" class="btn btn-outline-success"  (click)="openModal(template, item.id, item.offer_by.id)">Assign</button>
                </div>
                <div class="checkbox-item mt-2" *ngIf="jobOffer.payment_request == 1">   
                  <button type="button" class="btn btn-outline-secondary" (click)="openModalPayment(payment, item.amount)">Create Milestone</button>
                </div>
                <div class="checkbox-item mt-2"  (click)="openDisputeModal(dispute, item.job_post_id)">   
                  <button type="button" class="btn btn-outline-secondary" >Dispute</button>
                </div>
                <div class="checkbox-item mt-2"  (click)="getReviews(item.offer_by.id)">   
                  <button type="button" class="btn btn-outline-secondary" >Reviews</button>
                </div>
                <!-- <div class="checkbox-item">
                    <input type="checkbox" checked="">
                    <label data-ui-test="terms-checkbox-label">Push</label>
                </div> -->
        
            </div>    
            <div class="çontainer" *ngFor="let items of reviews" >
              <div class="row" *ngIf="items.tasker_id == item.offer_by.id">
                <h6>{{items.name}}</h6>
                <div class="emVaRl">
                    <div class="lnfldP">
                        <svg width="16" height="16" class="elJCm"
                            viewBox="0 0 24 24"  *ngFor='let in of counter(items.review_rating) ;let i = index'>
                            <path
                                d="M16.2 8.16l4.74.73a1.23 1.23 0 01.67 2.11l-3.46 3.28a1.23 1.23 0 00-.37 1.1l.77 4.68a1.24 1.24 0 01-1.82 1.29L12.5 19.1a1.28 1.28 0 00-1.16 0l-4.27 2.17A1.25 1.25 0 015.27 20l.85-4.68a1.19 1.19 0 00-.34-1.09l-3.41-3.4a1.23 1.23 0 01.71-2.1l4.75-.64a1.26 1.26 0 00.95-.67l2.16-4.24a1.25 1.25 0 012.24 0l2.09 4.28a1.22 1.22 0 00.93.7z">
                            </path>
                        </svg>
                    </div>
                </div>
                <p>{{items.review}}</p>
                <hr>
              </div>
            </div> 
            <div class="container" *ngIf="jobOffer.status == 'COMPLETED' && jobOffer.assign_to_id == item.offer_by.id && !jobOffer.review">
              <div class="row">
                <div class="col-12">
                  <form #basicForm="ngForm" (ngSubmit)="review(basicForm.value)">      
                    <ngx-star-rating name="review_rating" ngModel></ngx-star-rating>  
                    <div class="form-group mt-3">
                      <label for="review">Review:</label>
                      <textarea rows="2" ngModel name="review" placeholder="Enter Review" style="width: 100%;" required></textarea>
                    </div>
                    <div class="form-group form-button">
                      <button class=" btn btn-primary px-1 py-1 buttonweb">
                         <span class="text-white">Add Review</span> </button>
                    </div>
                  </form>
                </div>
              </div>  
            </div> 
        </div>
    </div>
  </div>
</section>

<!-- <div class="container">

  <h2 class="mb-5">Angular Stripe Credit Card Payment Gateway Example</h2>

  <div class="col-md-4 mb-3">
    <button (click)="checkout(20)" class="btn btn-primary btn-block">Pay $20</button>
  </div>
  <div class="col-md-4 mb-3">
    <button (click)="checkout(30)" class="btn btn-primary btn-block">Pay $30</button>
  </div>
  <div class="col-md-4">
    <button (click)="checkout(40)" class="btn btn-primary btn-block">Pay $40</button>
  </div>
</div> -->

<ng-template #template>
  <div class="modal-body text-center">
    <label for="">Delivery Date</label>
    <input type="date" name="deliveryTime" [(ngModel)]="deliveryTime" id="" class="form-control" width="50%">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="assigneJob()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="dismiseModal()">No</button>
  </div>
</ng-template>

<ng-template #templatecompletejob>
  <div class="modal-body text-center">
    <label for="">Complete Date</label>
    <input type="date" name="deliveryTime" [(ngModel)]="deliveryTime" id="" class="form-control" width="50%">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="completeJob()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="dismiseModal()">No</button>
  </div>
</ng-template>

<ng-template #dispute>
  <div class="modal-body text-center">
    <label for="">Title</label>
    <input name="deliveryTime" [(ngModel)]="title" class="form-control">

    <label for="">Detail</label>
    <textarea name="deliveryTime" [(ngModel)]="detail" class="form-control"></textarea>
    
    
    <button type="button" class="btn btn-success mt-3 ml-3" (click)="createDispute()">Create</button>
    <button type="button" class="btn btn-primary mt-3" (click)="dismiseModal()">Close</button>
  </div>
</ng-template>

<ng-template #payment>
  <div class="modal-body text-center p-5">

    <div id="card-element"></div>

    <button type="button" class="btn btn-success mt-3 ml-3" (click)="addPayment()">Pay</button>
    <button type="button" class="btn btn-primary mt-3" (click)="dismiseModal()">Close</button>
  </div>
</ng-template>