<div>
    <section class="sign-in pb-5 pt-5">
      <div class="container" id="c2">
        <div class="signin-content">  
          <div class="signin-form">
            <h2 class="form-title">Change Password</h2>
            <form [formGroup]="fg" (ngSubmit)="changePassword(fg)" #f="ngForm">            
              <div class="form-group">
                <label for="your_old_pass"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" formControlName="old_password" name="old_password" id="your_old_pass" placeholder="Enter Old Password" required="" control-id="ControlID-1">
              </div>
              <div class="form-group">
                <label for="your_new_pass"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" formControlName="change_password" name="change_password" id="your_new_pass" placeholder="Enter New Password" required="" control-id="ControlID-2">
              </div>
              <div class="form-group form-button">
                <button class=" btn btn-primary px-5 py-2 buttonweb" control-id="ControlID-3">
                   <span class="text-white">Save</span> </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
</div>