<div class="main">
    <section class="sign-in pb-5 pt-5">
      <div class="container" id="c2">
        <div class="signin-content">  
          <div class="signin-form">
            <h2 class="form-title">Forget your password?</h2>
            <p>Enter your email address and we'll send you a link to reset your password.</p>
            <form [formGroup]="fg" (ngSubmit)="forgotPassword(fg)" #f="ngForm">            
              <div class="form-group mt-3">
                <label for="your_email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="email" formControlName="email" name="email" id="your_email" placeholder="Email" required="" control-id="ControlID-1">
              </div>
              <div class="form-group">
                <a [routerLink]="['/login']">
                  <p class="text-end">Back to login</p>
                </a>
              </div>
              <div class="form-group form-button">
                <button class=" btn btn-primary px-5 py-2 buttonweb" control-id="ControlID-2">
                   <span class="text-white">Send password reset email</span> </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
</div>