
<section class="shadow d-flex align-items-center main-top" style="padding-top: 30px;" id="newtask">
  <div class="container">
      <div class="container aos-init aos-animate" data-aos="fade-up">
          <header class="section-header pt-4 pb-4  text-center">
              <h2 class="mt-5">Privacy Policy</h2>
          </header>
          <div class="Mian-faq">
          <h3>1. Introduction</h3>
          <p>At JobTasker, we recognise and respect the importance of protecting privacy and act in
            accordance with applicable privacy legislation. In this Policy, “Users” means anyone using
            jobtasker websites or apps. &quot;We&quot;, &quot;our&quot;, &quot;us&quot; and/or &quot;JobTasker&quot; means JobTasker Pty Ltd
            (ABN - 81 650 838 823).</p>
          
          <p>By accessing JobTasker websites (www.jobtasker.com, www.jobtasker.net.au) or mobile
            application or using our services, you accept and agree to the terms of this policy and the
            JobTasker Terms &amp; Conditions. In this policy we explain how JobTasker collects, uses,
            discloses, and handles any personal information we collect from you, and how to contact us
            if you wish to access or correct your personal information, or complain about a breach of
            your privacy.</p>

          <h3>2. Collection and use of Your Personal Information</h3>

          <p>When you interact with JobTasker via our websites, over the phone, via email, via social
            media, by entering our promotions or participating in our surveys, we collect personal
            information about you. Some information may be provided to us by clients, customers, and
            contractors. This information may include your name, address, telephone number, email
            address, profile picture, birth date, gender, resume, posted jobs/tasks, skillset, account
            details, credit card details and other information relevant for your fitness for the job/task.</p>

          <p>We will only collect personal or private information necessary for any of our functions or
            activities. The information we collect helps us to deliver or advertise our services,
            understand, and analyse online activity and collect important information that we consider
            important to managing the quality or content of the services we deliver. By engaging with
            our website and social media sites, you consent to us using and disclosing your information
            both for the purposes for which we have collected it and for other purposes related to
            marketing and advertising our services. We collect personal information submitted to our
            website through our registration forms, other web forms and cookies. The information
            collected through cookies is only used to track anonymous usage of our website. You may
            disable cookies in your browser settings. We may also obtain your personal information
            from other third parties that we interact with, where you have agreed with them that your
            information may be disclosed. We will Retain your personal information for as long as is
            necessary with regard to the purposes for which it was collected or lawfully further
            processed, or for as long as may be necessary in light of our legal obligations or in order to
            allow us to pursue, defend or exercise legal claims.</p>

          <p>By registering your details with us, you consent to us contacting you via email, telephone, or
            post, with relevant information pertaining to our services.</p>

          <h3>3. Users’ visible information</h3>
          <p>Certain users’ information’s are visible to us, other JobTasker users and publicly available to
            other internet users.</p>
          
          <p>When user of Our services posts any content such as jobs/tasks, bids, feedback, comments
            or interact in the public section of our service, your user ID and all the material that you post
            is visible and searchable to us, other JobTasker users and is also publicly available to other
            internet users.</p>
          
          <p>JobTasker does not control and does not accept any responsibility or liability whatsoever
            for, the disclosure or use of personal data which is voluntarily posted by you or other users
            in a publicly accessible section of our websites or applications.</p>

          <h3>4. External Links and Third Parties</h3>
          <p>Our websites or application may contain links to third party websites and those external
            websites may collect personal information about you. We do not control and do not accept
            any responsibility or liability for the privacy practices of other businesses or the content of
            their website that are linked to our website.</p>

          <h3>5. Security and Storage</h3>
          <p>JobTasker places a great importance on the security of all information associated with us.
            We employ appropriate safeguards to ensure the highest possible levels of security,
            integrity, and privacy. We cannot ensure or warrant the security of any information
            transmitted to us or from our online products or services, and users do so at their own risk.
            Ultimately, you are responsible for keeping your account information secure. Please contact
            us immediately if you become aware or have reason to believe there has been any
            unauthorised use of your personal information that we hold.</p>

          <h3>6. Complaints</h3>
          <p>If you have a complaint about our Privacy Policy or believe that we have breached your
            privacy, your complaint should be directed in the first instance to us via email at
            support@jobtasker.com.</p>

          <p>We will investigate your complaint and attempt to resolve any breach that might have
            occurred in accordance with the Commonwealth Privacy legislations. If you are not satisfied
            with the outcome of this procedure, then you may request that an independent person
            (usually the Information Commissioner) investigate your complaint.</p>

          <h3>7. Changes to Privacy Policy</h3>
          <p>We reserve the right to amend or modify this privacy statement at any time and in response
            to changes in applicable data protection and privacy legislation. If JobTasker changes its
            Privacy Policy, it will post changes on this Privacy Policy page so that users are always aware of what information is collected, how it is used and the way in which information may be
            disclosed. As a result, please remember to refer to this Privacy Policy regularly to review any
            amendments. If we materially change the ways in which JobTasker uses or shares your
            personal data previously collected, we will notify you through your JobTasker account or
            your registered email address.</p>

          <h3>8. Children&#39;s Privacy</h3>
          <p>No part of JobTasker services is directed to children. We do not knowingly collect, maintain,
            or use personal data from children under 18 years of age. If you learn that a child has
            provided us with personal data in violation of this Privacy Policy, please alert us using our
            contact information below.</p>

          <h3>9. Contact us</h3>
          <p>If you have any questions about our Privacy Policy or require further information regarding
            our Privacy Policy, please contact us at the following email address:
            support@JobTasker.com or JobTasker Pty Ltd, ACN 650 838 823, at Level 26, 44 Market
            Street, Sydney, NSW 2000.</p>

          <h3>10. Acceptance</h3>
          <p>You accept that your use of this website, mobile app or any engagement with JobTasker
            includes your acceptance of this Privacy Policy and our Terms and conditions.</p>
          </div>
      </div>
  </div>
</section>