<section class="shadow d-flex align-items-center main-top" style="padding-top: 30px;" id="newtask">
  <div class="container">
      <div class="container aos-init aos-animate" data-aos="fade-up">
          <header class="section-header pt-4 pb-4  text-center">
              <h2 class="mt-5">Tasker Community Guidelines</h2>
          </header>
          <div style="margin-left: 10vw;">
          <h3>1. Publicly sharing private information</h3>
          <p>To maintain the integrity and authenticity of Jobtasker, our members can only share private contact information once an offer is accepted via private messages.

            To protect your safety and security, private contact details or 3rd party links are not allowed to be shared in any public areas of the site including any comments and attachments. This includes, but is not limited to, business websites, Facebook, LinkedIn, Twitter, personal emails, phone numbers, addresses or personal websites.</p>

          <h3>2. Unacceptable behaviours</h3>

          <p>Community is at the heart of what we do at Jobtasker. Courtesy, mutual respect and seeing things from another person's perspective is essential. At Jobtasker, we do not tolerate the following negative behaviours against other members of the Jobtasker Community or Jobtasker Staff:<br><br>

            2.1 Hatred or violence <br>
            2.2 Discrimination<br>
            2.3 Harassment<br>
            2.4 Illegal behaviours<br>
            2.5 Trolling</p>

          <h3>3. Unsupported practices</h3>
          <p>At Jobtasker, we're committed to bringing communities together however this requires your support and cooperation. We do not support the following activities within our Jobtasker community, as it jeopardises the creation of a fair, transparent and trustworthy environment:<br><br>

            3.1 Fraudulent Jobtasker reviews<br>
            3.2 Artificially improving public profile<br>
            3.3 Discussion forum<br>
            3.4 Harvesting member information<br>
            3.5 Lead generation<br>
            3.6 No alcohol related Tasks</p>

          <h3>4. Pricing and payments</h3>
          <p>To ensure a safe and rewarding environment for all members of the Jobtasker community, it's important to understand how pricing and payments work.<br><br>

            4.1 Offer prices<br>
            
            Offers placed must be totalled to the full amount per task. Offers must not be hourly, unit or quote based. Partial quotes mentioning further negotiation of prices off the platform are also not supported.<br>
            
            4.2 Jobtasker Payment Account<br>
            
            Cash payments are not supported on the Jobtasker platform. To ensure that you get paid for a task the Jobtasker Payment Account securely holds the task funds until you mark the task as complete.<br>
            
            4.3 Accurate banking details<br>
            
            To ensure seamless transition of funds, please ensure your banking details are up to date in your account.</p>

          <h3>5. Accountability and your reputation</h3>
          <p>You remain accountable for both your behaviour on the Jobtasker platform and the provision and outcome of each task you are assigned to. Your responsibilities include:<br><br>

            5.1 Fulfilment of task requirements<br>
            
            Taskers are expected to provide the services as agreed with the Poster.<br>
            
            5.2 Managing other Taskers involved<br>
            
            The Tasker assigned to the task is responsible for the actions of any Taskers they arrange to assist them in providing the services agreed with the Poster. If the Tasker assigned chooses to subcontract others to perform the services agreed with the Poster, the Tasker must gain the Poster’s consent. The Tasker assigned to the task must also ensure that all Taskers assisting them have an Jobtasker user account.<br>
            
            For tasks completed in-person, you must attend to check that the task requirements are met even if you requested other Taskers to assist with the task.<br>
            
            5.3 The experience you provide for other members<br>
            
            Taskers must not repetitively provide poor experiences for other members of the Jobtasker Community.
            
            We remind you that where Jobtasker receives reports that you have breached any of these Guidelines, we may take action to remove any content, or cancel or suspend your account and/or any task contracts.</p>

          <h3>6. Account eligibility</h3>
          <p>We know you're eager to set up an account and get started on Jobtasker, but we need you to make sure you qualify for the below:<br><br>

            6.1 18 years or older:<br>
            
            All members of the Jobtasker community must be 18 years or older. This is a legal requirement as people under the age of 18 are not able to enter a legal contract with Jobtasker. Jobtasker reserves the right to request proof of age should this be necessary.<br>
            
            6.2 Legal working rights:<br>
            
            All Taskers must be legally entitled to perform the task. To maintain the highest standards in our Jobtasker community, we seek to avoid situations that may cause legal risks to any of our members.<br>
            
            6.3 No duplicate accounts<br>
            
            Members of the Jobtasker Community may only have a single, active account on the platform. As your account reflects your reputation in the marketplace and represents your skills and abilities, any duplicate accounts attempting to disguise a member's history, will be removed immediately. This means that all content posted by additional accounts will be removed and any associated task contracts will be cancelled.</p>

          <h3>7. Account administration</h3>
          <p>Now that you understand a little more about Jobtasker, we have some important information regarding accounts.<br><br>

            7.1 No account transfers<br>
            
            Your account is your responsibility and you must maintain control of it. It must not be transferred to another person as your account and reviews reflect your skills and abilities.<br>
            
            7.2 No duplicate accounts<br>
            
            Members may only have a single, active account on the platform. As your account reflects your reputation in the marketplace and represents your skills and abilities, any duplicate accounts attempting to disguise a member's history, will be removed immediately.<br>
            
            7.3 Cooperating with other members for the Jobtasker Community and Jobtasker Staff<br>
            
            Where members of the Jobtasker Community or Jobtasker Staff reach out to request information, both Posters and Taskers are required to respond within a reasonable timeframe.</p>

          <h3>8. Identity on Jobtasker</h3>
          <p>Jobtasker is committed to building a community platform that is a positive and safe environment for all. This commitment is grounded in the principles of transparency and respect. To help foster trust in the community, all members are required to have a profile photo and name that accurately identifies them.<br><br>

            Fake/ miscellaneous photos & names are not permitted on the Jobtasker platform. Members that do not have an accurate profile photo or name that meets Jobtasker standards will be asked to change their details.<br>
            
            Jobtasker profile standards
            8.1 Name<br>
            
            Your real name as confirmed by your identification documents (passport, drivers licence etc).<br>
            
            8.2 Profile photo<br>
            
            A clear front-on profile photo of a members face, so it’s easy recognisable other members.</p>
          </div>
      </div>
  </div>
</section>