<section class="shadow d-flex align-items-center main-top" style="padding-top: 30px;" id="newtask">
  <div class="container">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <header class="section-header pt-4 pb-4  text-center">
        <h2 class="mt-5">Faqs</h2>
      </header>
      <div class="Mian-faq">

        <accordion [isAnimated]="true">
          <accordion-group heading="What is a Tasker?" panelClass="customClass">
            A Tasker can be an individual or a business registered on JobTasker to
            perform the jobs/tasks posted.
          </accordion-group>
          <accordion-group heading="How much does it cost?" panelClass="customClass">
            <p>Using JobTasker is completely FREE for everyone (users, tradies,
              and businesses), with no registration fee, no service fee, no booking fee, no commission,
              and unlimited quotes.</p>
          </accordion-group>
          <accordion-group heading="Payment?" panelClass="customClass">
            <p>Payment for awarded jobs/tasks are held securely by JobTasker and released to
              the Tasker directly through our secure payment system.</p>
          </accordion-group>
          <accordion-group heading="What type of tasks/jobs are available?" panelClass="customClass">
            <p>Taskers can bid all jobs that are in line with their
              skills and schedule. Some of our most popular categories are Cleaning, delivery, lawn
              gardening, removalist, painting, carpentering, admin jobs, website design/development, and
              a much more.</p>
          </accordion-group>
          <accordion-group heading="Is there insurance?" panelClass="customClass">
            <p>Some Taskers provide insurance cover as part of their service, it’s your
              responsibility to confirm insurance availability before awarding your job/task.</p>
          </accordion-group>
          <accordion-group heading="How can I contact the Taskers?" panelClass="customClass">
            <p>Taskers can be contacted by replying to their bid or
              privately after the job/task has been awarded to them through private messages.</p>
          </accordion-group>
        </accordion>

      </div>
    </div>
  </div>
</section>