<!-- ======= Hero Section ======= -->
<section id="aboutus" class="hero d-flex align-items-center">
  
</section>
<!-- End Hero -->

<section class="shadow d-flex align-items-center main-top" style="padding-top: 30px;" id="newtask">
  <div class="container" id="post1">
      <div class="container aos-init aos-animate" data-aos="fade-up">
          <header class="section-header text-start pt-4 pb-4">
              <p class="text-center">Community Guidelines For Taskers and Posters</p>
              <h2 class="mt-5">Community Guidelines</h2>

              <p>Policies for our community members
                Creating a community where all members can enjoy a safe and rewarding Airtasker experience requires trust. Being responsible and respectful to others are the building blocks that form our marketplace integrity.</p>

                <div class="btn-bottom mt-5">
                  <a [routerLink]="['/tasker-guidelines']" class="text-center btn-read-more d-inline-flex align-items-center justify-content-center align-self-center px-5" style="border-radius: 0%; border-style: none;">
                      <span>Tasker Guidelines</span>
                      <i class="bi bi-arrow-right"></i>
                  </a>

                  <a [routerLink]="['/poster-guidelines']" class="text-center btn-read-more d-inline-flex align-items-center justify-content-center align-self-center px-5" style="border-radius: 0%; border-style: none;">
                    <span>Poster Guidelines</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
              </div>
          </header>
      </div>
  </div>
</section>