<section id="app-promotion" class="app-promotion border-bottom shadow-sm">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4 justify-content-center align-items-center">
      <div class="col-lg-6 col-md-6 col-12 d-flex             align-items-stretch
                  flex-column justify-content-center">
        <div class="section-header col-12" data-aos="fade-up" data-aos-delay="200">
          <div class="hdmobapp" style="text-align: start;">
            <h1 style="color:black">Leverage your skills to earn up to $5000 per month on JobTasker</h1>
          </div>

        </div>
        <div class="d-inline-flex align-items-center justify-content-center align-self-center">
          <div class="text-center text-lg-start" data-aos="fade-up" data-aos-delay="600"
               style="line-height: 0;
                      padding: 15px 20px;
                      border-radius: 30px;
                      transition: 0.5s;
                      background: #013289;
                       font-weight: 700;">
            <a [routerLink]="['/register','tasker']"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center text-white">
              <span style="margin-right: 7px;">Sign up for free
              </span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="mt-4 align-items-center justify-content-center align-self-center">
          <ul>
            <li>Free Unlimited Quotes.</li>
            <li>No booking fee.</li>
            <li>No commission.</li>
            <li>No service fee.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="img-div">
          <img src="../../../assets/img/IM-11.jpg" class="img-fluid" />
        </div>
      </div>

    </div>
  </div>
</section>


<section id="values" class="values">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>How to earn money on JobTasker</h2><br>
      <h4>With JobTasker, both business and individuals can find local jobs that fit their skills and schedule</h4>
    </header>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="valuesi text-center">
          <div class="box">
            <img src="../../../assets/img/v-2.jpg" class="img-fluid" alt="">
          </div>
          <h3>Search jobs/tasks</h3>
          <p>Find the right jobs/task that matches your skills</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="valuesi text-center">
          <div class="box">
            <img src="../../../assets/img/v-3.jpg" class="img-fluid" alt="">
          </div>

          <h3>Make an offer</h3>
          <p>Post an offer and set your own rates</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
        <div class="valuesi text-center">
          <div class="box">
            <img src="../../../assets/img/v-1.jpg" class="img-fluid" alt="">
          </div>

          <h3>Get Paid</h3>
          <p>Request payment after completing the job/task awarded to you</p>
          <p>You keep 100% of what you charge</p>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <h4 style="margin-right: 20px; background-color: #00FF00 ; border-radius: 10px;">Register your business today as a Tasker and start earning more</h4>
        <div class="text-center text-lg-start mr-5" data-aos="fade-up" data-aos-delay="600"
              style="line-height: 0;
                    padding: 15px 20px;
                    border-radius: 30px;
                    transition: 0.5s;
                    background: #013289;
                      font-weight: 700;">
          <a [routerLink]="['/register','tasker']"
            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center text-white">
            <span style="margin-right: 7px;">Sign up
            </span>
          </a>
        </div>
      </div>

    </div>


  </div>
</section>


<section id="highlight2" class="highlight">
  <div class="container" data-aos="fade-up">
    <header class="section-header-dark col-">
      <h2>Taskers Benefits</h2>

    </header>

    <div class="row gy-4" data-aos="fade-left">
      <div class="col-lg-4 col-md-12" data-aos="zoom-in" data-aos-delay="100">
        <div class="highlight text-center">
          <div class="box">
            <img src="../../../assets/img/completely-free.png" class="img-fluid" alt="">
          </div>
          <h3>Completely FREE</h3>
          <!-- <div class="mt-4 text-white">
            <ul class="text-white text-left">
              <li>Free Unlimited Quotes.</li>
              <li>No booking fee.</li>
              <li>No commission.</li>
              <li>No service fee.</li>
              <li>You keep all you earn.</li>
            </ul>
          </div> -->
          <p>Unlimited free quotes, no service fee, no booking fee, and no commission</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12" data-aos="zoom-in" data-aos-delay="100">
        <div class="highlight text-center">
          <div class="box">
            <img src="../../../assets/img/support.png" class="img-fluid" alt="">
          </div>
          <h3>Flexibility</h3>
          <p>You are in control. Earn as much as you can. Flexible working hour. Choose jobs/tasks that are right for you.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12" data-aos="zoom-in" data-aos-delay="100">
        <div class="highlight text-center">
          <div class="box">
            <img src="../../../assets/img/security.png" class="img-fluid" alt="">
          </div>
          <h3>Secure payment</h3>
          <p>Job payments are held in escrow account by jobtasker. Taskers get paid immediately.</p>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-12" data-aos="zoom-in" data-aos-delay="100">
        <div class="highlight text-center">
          <div class="box">
            <img src="../../../assets/img/insurance.png" class="img-fluid" alt="">
          </div>
          <h3>Insurance</h3>
          <p>Certain jobs are covered for liability to third parties for personal injury or property damage (T&C apply).</p>
        </div>
      </div> -->

    </div>


    <!-- <div class="col-12 col-lg-12 text-center">
      <a href="#"
        class="text-center btn-read-more d-inline-flex align-items-center justify-content-center align-self-center bg-white text-primary">
        <span>Sign up</span>
        <i class="bi bi-arrow-right"></i>
      </a>
    </div> -->
  </div>
</section>

<section id="values" class="values">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Faqs</h2>
    </header>

    <div class="row">
      <accordion [isAnimated]="true">
        <accordion-group heading="What is a Tasker?" panelClass="customClass">
          A Tasker can be an individual or a business registered on JobTasker to
perform the jobs/tasks posted.
        </accordion-group>
        <accordion-group heading="How much does it cost?" panelClass="customClass">
          <p>Using JobTasker is completely FREE for everyone (users, tradies,
            and businesses), with no registration fee, no service fee, no booking fee, no commission,
            and unlimited quotes.</p>
        </accordion-group>
        <accordion-group heading="Payment?" panelClass="customClass">
          <p>Payment for awarded jobs/tasks are held securely by JobTasker and released to
            the Tasker directly through our secure payment system.</p>
        </accordion-group>
        <accordion-group heading="What type of tasks/jobs are available?" panelClass="customClass">
          <p>Taskers can bid all jobs that are in line with their
            skills and schedule. Some of our most popular categories are Cleaning, delivery, lawn
            gardening, removalist, painting, carpentering, admin jobs, website design/development, and
            a much more.</p>
        </accordion-group>
        <accordion-group heading="Is there insurance?" panelClass="customClass">
          <p>Some Taskers provide insurance cover as part of their service, it’s your
            responsibility to confirm insurance availability before awarding your job/task.</p>
        </accordion-group>
        <accordion-group heading="How can I contact the Taskers?" panelClass="customClass">
          <p>Taskers can be contacted by replying to their bid or
            privately after the job/task has been awarded to them through private messages.</p>
        </accordion-group>
      </accordion>
    </div>

    <!-- <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="valuesi text-center">
          <p style="font-size: 16px; text-align: justify;"><strong>What is Tasker?</strong> Taskers are people or businesses registered on jobtasker that perform jobs or tasks posted on jobtasker.
          </p>
          <p style="font-size: 16px; text-align: justify;"><strong>Registration cost?</strong> There is no cost to register as a tasker. Using jobtasker is completely free, no service fee, no commission, no upfront payment, free unlimited quotes at no cost, no booking fee, no hidden fees or any bullshit payment.
          </p>
          <p style="font-size: 16px; text-align: justify;"><strong>Requirements to be a Tasker?</strong> Any one or business can register for free as a tasker to perform jobs and get paid.
          </p>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="valuesi text-center">
          <p style="font-size: 16px; text-align: justify;"><strong>Payment?</strong> Payment for awarded jobs are held securely by jobtasker and release to the tasker when the job is done. Giving taskers peace of mind.
          </p>
          <p style="font-size: 16px; text-align: justify;"><strong>What are the available jobs?</strong> Taskers can bid all jobs that are inline with there skills. Some of the popular categories of jobs are; Cleaning, delivery, lawn gardening, removalist, painting, carpentering, admin jobs, website design/development, and a lot more.
          </p>
          <p style="font-size: 16px; text-align: justify;"><strong>Is there insurance?</strong> Tasker are covered for certain jobs completed on jobtasker for liability to third parties for personal injury or property damage (T&C apply).
          </p>
        </div>
      </div>

    </div> -->


  </div>
</section>
